* {
  marin: 0 auto;
  padding: 0;
  box-sizing: border-box; }

.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh; }

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%; }

.selection {
  position: absolute;
  z-index: 999999;
  width: 35%;
  height: 100vh;
  background-color: #e78205;
  opacity: 0.8; }

#startPoint {
  width: 90%;
  display: block;
  color: grey; }

.mapbox-directions-clearfix {
  display: none; }

.mapbox-directions-instructions-wrapper {
  display: none; }

p {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  text-align: center; }

h2 {
  letter-spacing: 3px !important;
  display: block;
  font-family: "PT Sans", sans-serif;
  font-weight: 600;
  font-size: 80px;
  text-align: center;
  letter-spacing: 5px;
  margin-top: 20%;
  padding-bottom: 9%; }

.bottomFIx {
  position: absolute;
  display: block;
  margin: 0 auto;
  bottom: 1%;
  left: 25%;
  right: 25%; }
  .bottomFIx .fa {
    position: relative;
    padding: 43px; }
  .bottomFIx .fa-angle-left {
    float: left; }
  .bottomFIx .fa-angle-right {
    float: right; }

.pageDirection {
  font-size: 110px;
  color: #e1e4ea;
  opacity: 0.6; }

.input-group-button {
  margin: 0 14px; }

.dots {
  left: 25%;
  right: 25%;
  position: absolute;
  text-align: center; }

.step {
  height: 15px;
  width: 15px;
  margin: 0 3px;
  background-color: #e1e4ea;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
  bottom: 0; }

#invalidText {
  color: #a00303; }

.dateDiv {
  margin-top: 10%; }
  .dateDiv p {
    display: block;
    margin-top: 9%; }

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: black; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: black; }

.input-group-field {
  text-align: center;
  width: 25%; }

.plus-minus-input {
  left: 24%;
  right: 24%;
  margin-top: 10%; }
  .plus-minus-input .input-group-field {
    background-color: transparent;
    border: none;
    font-size: 30px; }

.buttonCircle {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 2px solid #212529; }

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  background-color: none !important; }

.dateinputs {
  display: block; }
  .dateinputs #infoP {
    letter-spacing: 2px; }

.datePick {
  width: 50%;
  padding: 20px;
  border-radius: 50px;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  background: transparent;
  border: 2px solid #212529;
  margin-left: 25%; }

.numberOfPeople p {
  padding-top: 13%; }

.carDiv {
  margin-top: 9%;
  margin-left: 7%; }

.carinputs {
  position: absolute;
  margin: 0 auto;
  z-index: 999; }
  .carinputs button {
    outline: none;
    z-index: 999999999999;
    width: 180px;
    height: 160px;
    background-color: transparent;
    border: 2px solid #212529;
    border-radius: 90px;
    margin-left: 10%;
    margin-bottom: 7%; }
    .carinputs button img {
      display: block;
      width: 100%;
      height: 100%; }
    .carinputs button p {
      letter-spacing: 3px; }
  .carinputs .change {
    background-color: #6398b7; }

.page {
  display: none; }

input.invalid {
  background-color: #7b9e78; }

.tripjs {
  top: 2% !important; }

.submitBtn {
  border: 2px solid black;
  background-color: transparent;
  border-radius: 43px;
  margin-left: 48%;
  font-size: 30px;
  font-family: "PT Sans", sans-serif;
  padding: 5px 16px;
  position: absolute;
  bottom: 8%; }

/*# sourceMappingURL=style.css.map */
