* {
  padding: 0;
  box-sizing: border-box;
  margin: 0 auto; }

.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh; }

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%; }

.selection {
  position: absolute;
  z-index: 999999;
  width: 35%;
  height: 100vh;
  background-color: #e78205;
  opacity: 0.8; }

#startPoint {
  width: 90%;
  display: block;
  color: grey; }

.mapbox-directions-clearfix {
  display: none; }

.mapbox-directions-instructions {
  display: none; }

p {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  text-align: center;
  color: black; }

h2 {
  letter-spacing: 3px !important;
  display: block;
  font-family: "PT Sans", sans-serif;
  font-weight: 600;
  font-size: 80px;
  text-align: center;
  letter-spacing: 5px;
  margin-top: 20%;
  padding-bottom: 9%; }

.bottomFIx {
  position: absolute;
  display: block;
  margin: 0 auto;
  bottom: 1%;
  left: 25%;
  right: 25%; }
  .bottomFIx .fa {
    position: relative;
    padding: 43px;
    outline: none; }
  .bottomFIx .fa-angle-left {
    float: left; }
  .bottomFIx .fa-angle-right {
    float: right; }

.arrow:hover {
  color: #42464c; }

.pageDirection {
  font-size: 110px;
  color: #e1e4ea;
  opacity: 0.6; }

.input-group-button {
  margin: 0 14px; }

.dots {
  left: 25%;
  right: 25%;
  position: absolute;
  text-align: center; }

.step {
  height: 15px;
  width: 15px;
  margin: 0 3px;
  background-color: #e1e4ea;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
  bottom: 0; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; }

#invalidText {
  color: #a00303; }

.warning {
  font-size: 15px;
  color: #7c2626;
  bottom: 0;
  margin-bottom: 6%;
  right: 0;
  margin-right: 24%;
  position: absolute;
  display: none; }

.pDiv {
  display: block;
  width: 80%;
  margin: 0 auto;
  margin-top: 5%; }

.dateDiv {
  margin-top: 10%; }
  .dateDiv p {
    display: block;
    margin-top: 9%; }

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: black; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: black; }

.input-group-field {
  text-align: center;
  width: 25%; }

.plus-minus-input {
  left: 24%;
  right: 24%;
  margin-top: 10%; }
  .plus-minus-input .input-group-field {
    background-color: transparent;
    border: none;
    font-size: 30px; }

.buttonCircle {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 2px solid #212529; }

button:focus, input:focus {
  outline: 0; }

.dateinputs {
  display: block; }
  .dateinputs #infoP {
    letter-spacing: 2px;
    margin-top: 30px;
    font-size: 23px;
    color: #42464c; }
  .dateinputs .datechoosen {
    margin: 20px; }

.datePick {
  width: 50%;
  padding: 20px;
  border-radius: 50px;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  background: transparent;
  border: 2px solid #212529;
  margin-left: 25%;
  outline: none; }

.numberOfPeople p {
  padding-top: 13%; }

.carDiv {
  padding-top: 4%;
  display: flex;
  width: 81%;
  flex-wrap: wrap;
  justify-content: space-around; }
  .carDiv button[disabled] {
    pointer-events: none; }
  .carDiv .bikeDisable {
    margin-top: 3%;
    margin-left: 20%;
    left: 0;
    top: 0;
    position: absolute;
    font-size: 150px; }
  .carDiv .smallcarDisable {
    right: 0;
    margin-right: 20%;
    margin-top: 3%;
    top: 0;
    position: absolute;
    font-size: 150px; }
  .carDiv .largecarDisable {
    margin-top: 37%;
    left: 0;
    margin-left: 21%;
    top: 0;
    position: absolute;
    font-size: 150px; }
  .carDiv .motorHomeDisable {
    bottom: 0;
    margin-top: 37%;
    right: 0;
    margin-right: 20%;
    top: 0;
    position: absolute;
    font-size: 150px; }

.carinputs {
  width: 100%;
  position: absolute;
  margin: 0 auto;
  z-index: 999; }
  .carinputs button {
    outline: none;
    width: 170px;
    height: 150px;
    background-color: transparent;
    border: 2px solid #212529;
    border-radius: 90px;
    margin: 0% 5%;
    margin-bottom: 14%; }
    .carinputs button img {
      display: block;
      width: 100%;
      height: 100%; }
    .carinputs button #smallcarwidth {
      width: 110%; }
    .carinputs button p {
      display: block;
      padding-top: 2px;
      letter-spacing: 3px; }
      .carinputs button p span {
        display: block;
        font-size: 16px;
        letter-spacing: 0px; }
  .carinputs button:disabled {
    color: #646a72; }
  .carinputs p:disabled {
    color: black; }
  .carinputs .change, .carinputs .car:hover {
    background-color: #6398b7; }

.page {
  display: none; }

input.invalid {
  background-color: #7b9e78; }

.tripjs {
  top: 2% !important; }

.submitBtn {
  border: 2px solid black;
  background-color: transparent;
  border-radius: 43px;
  margin-left: 48%;
  font-size: 30px;
  font-family: "PT Sans", sans-serif;
  padding: 5px 16px;
  position: absolute;
  bottom: 8%;
  z-index: 1;
  outline: none; }

.submitBtn:hover {
  background-color: #282524;
  color: #e78205; }

.resultwrap {
  display: none; }
  .resultwrap .imagewrap #headerimage {
    width: 64%;
    display: block;
    position: absolute;
    top: 0;
    margin-top: 6%;
    margin-left: 18%; }
  .resultwrap .extrainfo {
    display: block;
    width: 80%;
    margin-top: 2%; }

.resultDiv {
  display: none;
  margin-top: 19%;
  border: 2px solid #824f32;
  margin: 9% 9% 0% 9%;
  border-radius: 10%;
  margin-top: 22%; }
  .resultDiv hr {
    color: #a85c05;
    background-color: #a85c05;
    height: 2px;
    width: 10%; }
  .resultDiv .eTicket {
    padding-top: 8%;
    text-align: center;
    font-family: "PT Sans", sans-serif;
    font-size: 24px; }
  .resultDiv p {
    font-size: 15px; }
  .resultDiv .topInfoDiv {
    margin-top: 7%; }
    .resultDiv .topInfoDiv img {
      display: block;
      width: 200px;
      height: 160px; }
    .resultDiv .topInfoDiv .yourCar {
      margin-top: 3%;
      text-align: center;
      font-family: "PT Sans", sans-serif;
      font-size: 24px; }
  .resultDiv .bottmDiv {
    display: block;
    margin-top: 3%; }
    .resultDiv .bottmDiv #qrcode {
      display: block;
      width: 15%;
      padding-bottom: 6%; }

/*# sourceMappingURL=style.css.map */
