
$primary-font: 'PT Sans', sans-serif;

*{
  padding: 0;
  box-sizing: border-box;
  margin: 0 auto;
}

.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  }

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%; }

//left yellow box
.selection {
  position: absolute;
  z-index: 999999;
  width: 35%;
  height: 100vh;
  background-color: #e78205;
  opacity: 0.8;

}

#startPoint {
  width: 90%;
  display: block;
  color : grey;
}

.mapbox-directions-clearfix {
  display: none;
}

.mapbox-directions-instructions-wrapper {
  display: none;
}


p {
  font-family: $primary-font;
  font-size: 20px;
  text-align: center;
  color: black;

}

h2 {
  letter-spacing: 3px!important;
  display: block;
  font-family: $primary-font;
  font-weight: 600;
  font-size: 80px;
  text-align: center;
  letter-spacing: 5px;
  margin-top: 20%;
  padding-bottom: 9%;
}

//Bootm arrow and dots
.bottomFIx{
  position: absolute;
  display: block;
  margin: 0 auto;
  bottom: 1%;
  left: 25%;
  right: 25%;

  .fa{
    position: relative;
    padding: 43px;
    outline: none;

  }
  .fa-angle-left {
    float: left;
  }
  .fa-angle-right{
    float: right;


  }
}


.pageDirection {
  font-size: 110px;
  color: #e1e4ea;
  opacity: 0.6;
}
.input-group-button {
  margin: 0 14px;
}
.dots{
  left: 25%;
  right: 25%;
  position: absolute;
  text-align: center;

}
.step {

  height: 15px;
  width: 15px;
  margin: 0 3px;
  background-color: #e1e4ea;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
  bottom:0
}
//index style

// body{
//   width: 100vw;
// }
// #fullPage {
//   width: 100%;
// }
// .section {
//   width: 100%;
// }
// .first {
//   background: url(img/carr.jpeg);
//   background-repeat: repeat;
//   background-size: 100%;
// }
// .first {
//   h1{
//   display: block;
//   font-family: 'Tauri', sans-serif;
//   font-size: 140px;
//   /* color: black; */
//   color: #edeeef;
//   text-align: center
//
//   }
// }
//
// .bbtndiv{
//   width: 10%;
//   padding-top: 90px;
// }
// #bookbtn{
//   padding: 0 70px;
//   font-family: 'Tauri', sans-serif;
//   background-color: black;
//   color : #e78205;
//   font-size: 50px;
//   text-align: center;
//   left: 30%;
//   right: 50%;
//   border: 0;
//
// }
//
// .explainBox p {
//   width: 100%;
//   /* color : #edeeef; */
//   color: white;
//   font-size: 30px;
//   text-align: center;
//   display: block;
//   font-family: 'Tauri', sans-serif;
//   bottom: 30px;
//   position: absolute;
//   text-align: center;
//
// }
// .fa {
// padding: 40px;
// }
//
// #carroimg {
//   display: block;
//   width: 500px;
//   padding-top: 40px;
//
// }

//------------------------first form------------------------

#invalidText{
  color: #a00303;
}
.pDiv {
  width: 80%;
  margin: 0 auto;
}
.dateDiv {
  margin-top: 10%;
  p {
    display: block;
    margin-top: 9%;
  }
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;

}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
}
.input-group-field {
  text-align: center;
  width: 25%;
}
// plus, minus
.plus-minus-input {
  left: 24%;
  right: 24%;
  margin-top: 10%;
  .input-group-field{
    background-color: transparent;
    border: none;
    font-size: 30px;
  }
}

.buttonCircle {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 2px solid #212529;
  outline: none;

}

//datepicker color remove
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {

    background-color: none !important;
}

//------------------------second date picker form------------------------

.dateinputs {
  display: block;
  #infoP{
    letter-spacing: 2px;
    margin-top: 30px;
    font-size: 23px;
    color: #42464c;
    // font-family: 'Caveat', cursive;
  }
  .datechoosen {
    margin:20px;
  }

}
.datePick {
  width: 50%;
  padding: 20px;
  border-radius: 50px;
  text-align: center;
  font-family: $primary-font;
  background: transparent;
  border : 2px solid #212529;
  margin-left: 25%;
  outline: none;

}
.numberOfPeople{
  p{
    padding-top: 13%;
  }
}
//---------------------------------------car selection-----------------
.carDiv{

  padding-top: 4%;
  display: flex;
  width: 81%;
  flex-wrap: wrap;
  justify-content: space-around;
  button[disabled] {
  pointer-events: none;
  }
.bikeDisable{
  margin-top: 3%;
  margin-left: 20%;
  left: 0;
  top: 0;
  position: absolute;
  font-size: 150px;
  }
  .smallcarDisable{
    right: 0;
    margin-right: 20%;
    margin-top: 3%;
    top: 0;
    position: absolute;
    font-size: 150px;
  }
  .largecarDisable {
    margin-top: 37%;
    left: 0;
    margin-left: 21%;
    top: 0;
    position: absolute;
    font-size: 150px;
  }
  .motorHomeDisable{
    bottom: 0;
    margin-top: 37%;
    right: 0;
    margin-right: 20%;
    top: 0;
    position: absolute;
    font-size: 150px;
  }
}
.carinputs{
  width: 100%;
  position: absolute;
  margin: 0 auto;
  z-index: 999;
  button{
    outline: none;
    width: 170px;
    height: 150px;
    background-color: transparent;
    border: 2px solid #212529;
    border-radius: 90px;
    margin: 0% 5%;
    margin-bottom: 14%;
    img{
      display: block;
      width: 100%;
      height: 100%;
    }
    #smallcarwidth{
      width: 110%;
    }
    p{
      display: block;
      padding-top: 2px;
      letter-spacing: 3px;
      span{
        display: block;

        font-size: 16px;
        letter-spacing: 0px;
      }
    }
  }
  button:disabled {
    color: #646a72;
  }
  p:disabled{
    color: black;
  }
  .change, .car:hover{
    background-color: #6398b7;
  }
}


//form validate css
.page{
  display: none;
}
input.invalid {
  background-color: #7b9e78;
}

//route mege

.tripjs{
  top: 2% !important;
}

//submit button
.submitBtn {
  border: 2px solid black;
  background-color: transparent;
  border-radius: 43px;
  margin-left: 48%;
  font-size: 30px;
  font-family: $primary-font;
  padding: 5px 16px;
  position: absolute;
  bottom: 8%;
  z-index: 1;
  outline: none;

}
.resultwrap {
  display: none;
  .imagewrap{
    #headerimage{
      width: 64%;
      display: block;
      position: absolute;
      top: 0;
      margin-top: 6%;
      margin-left: 18%;
    }
  }
}
.resultDiv {
  display: none;
  margin-top: 19%;
  border: 2px solid #824f32;
  margin: 9%;
  border-radius: 10%;
  margin-top: 22%;
  hr{
    color: #a85c05;
    background-color: #a85c05;
    height: 2px;
    width: 25%;
  }


  h3{
    padding-top: 8%;
    text-align: center;
    font-family: $primary-font;
    font-size: 24px;

  }
  p{

  }
  .topInfoDiv{
    margin-top: 4%;

    img{
      display: block;
      width: 150px;
      height: 160px;
    }
  }
  .bottmDiv{
    #qrcode{
          display: block;
          width: 24%;
          padding-bottom: 6%;
    }
  }

}
